/* Nav */
#templatemo_nav_top {
  min-height: 40px;
}
#templatemo_nav_top * {
  font-size: 12px !important;
}
#templatemo_main_nav a {
  color: #212934;
}
#templatemo_main_nav a:hover {
  color: #69bb7e;
}
#templatemo_main_nav .navbar .nav-icon {
  margin-right: 20px;
}

.nav-icon img {
  width: 40px; /* adjust the width to your liking */
  height: 40px; /* adjust the height to your liking */
  object-fit: cover;
  border-radius: 50%;
}


.nav-icon img:hover {
  border-color: #212934;
  border-width: 5px;
}